# Dependencies
node_modules/
npm-debug.log

# Build outputs
dist/*
!dist/index.html
!dist/resources
coverage/

# IDE specific files
.vscode/

# Optional npm cache directory
.npm

# Prettier
.prettier-cache
